{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
{{ context.title }}
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
<div class="container">
    <div class="row">
        <!-- 标题及作者 -->
        <h1 class="col-12 mt-4 mb-4" id = "title">{{ context.title }}</h1>
        <p id="title_id" style="display:none;">{{ context.id }}</p>
        <p id="current_ful_name" style="display:none;">{{ context.ful_name }}</p>
    </div>
</div>

<div style="width: 80%;margin-left: 10%;margin-right: 10%">
<table class="table table-hover" id="mytable">
  <thead>
    <tr>
      <th scope="col">编号</th>
      <!-- <th scope="col">法律名</th> -->
      <th scope="col">内容</th>
      <th scope="col">原创</th>
      <th scope="col">热度</th>
    </tr>
  </thead>
  <tbody>
    {% for clause in context.clauses %}
    <tr id="{{ clause.clause_id }}" onclick="jump(this.id)">
            <th scope="row">{{ clause.clause_id }}</th>
            <!-- <td>{{ clause.clause_name }}</td> -->
            <td>{{ clause.content}}</td>
            <td>{{ clause.origin_count }}</td>
            <td>{{ clause.total }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div class="mychart" style="margin-left: 10%;margin-right: 10%">
    <p id="history_rate_title"><b>转发/原创</b></p>
    <div class="container" style="width: 100%">
        <div id="history_rate_chart" class="card-body" style="height:500px; width: 100%">
        </div>
    </div>
</div>


<div class="mychart" style="margin-left: 10%;margin-right: 10%">
    <p id="history_origin_title"><b>历史热度(不含转发)</b></p>
    <div class="container" style="width: 100%">
        <div id="history_origin_chart" class="card-body" style="height:500px; width: 100%">
        </div>
    </div>
</div>


<div id="origin_weibo_display">
    <div class="container">
        <div class="row">
            <!-- 标题及作者 -->
            <h1 class="col-12 mt-4 mb-4" id = "subtitle">原创微博数据</h1>
        </div>
    </div>

    <div style="width: 80%;margin-left: 10%;margin-right: 10%">
<table class="table table-hover" id="origin_weibotable">
  <thead>
    <tr>
      <th scope="col">内容</th>
      <th scope="col">日期</th>
    </tr>
  </thead>
  <tbody>
    {% for data in context.origin_data_list %}
    <tr id="1">
            <td>
                <ul class="list-unstyled" >
            <li class="media">
                <div class="rounded-lg">
                    <img class="mr-3" src="{{ data.tou_xiang }}" style="width: 50px; height: 50px;">
                </div>
                <div class="media-body"  style="width: 80%">
                    <h5 class="mt-0 mb-1">{{ data.author_name }}</h5>
                    <p class="weibo_text">微博内容：{{ data.doc_text }}</p>
                    <!-- <p class="source_text">转发原文：// {{ data.weibo_source }}</p> -->
                    <p >{{ data.doc_time }}</p>
                    <p class="mb-0">{{ data.doc_date }} Opinion: {{ data.opinion }} </p>
                    <a href="{{ data.weibo_link }}" target="_blank">阅读原文</a>
                </div>
            </li>
        </ul>
            </td>
            <td style="display:none;">{{ data.doc_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

<div class="mychart" style="margin-left: 10%;margin-right: 10%">
    <p id="history_title"><b>历史热度</b></p>
    <div class="container" style="width: 100%">
        <div id="history_chart" class="card-body" style="height:500px; width: 100%">
        </div>
    </div>
</div>

{% endblock content %}


{% block weibo_display %}

<div id="weibo_display">
    <div class="container">
        <div class="row">
            <!-- 标题及作者 -->
            <h1 class="col-12 mt-4 mb-4" id = "subtitle">转发微博数据</h1>
        </div>
    </div>

    <div style="width: 80%;margin-left: 10%;margin-right: 10%">
<table class="table table-hover" id="weibotable">
  <thead>
    <tr>
      <th scope="col">内容</th>
      <th scope="col">日期</th>
    </tr>
  </thead>
  <tbody>
    {% for data in context.data_list %}
    <tr id="1">
            <td>
                <ul class="list-unstyled" >
            <li class="media">
                <div class="rounded-lg">
                    <img class="mr-3" src="{{ data.tou_xiang }}" style="width: 50px; height: 50px;">
                </div>
                <div class="media-body"  style="width: 80%">
                    <h5 class="mt-0 mb-1">{{ data.author_name }}</h5>
                    <p class="weibo_text">微博内容：{{ data.doc_text }}</p>
                    <p class="source_text">转发原文：// {{ data.weibo_source }}</p>
                    <p >{{ data.doc_time }}</p>
                    <p class="mb-0">{{ data.doc_date }} Opinion: {{ data.opinion }} </p>
                    <a href="{{ data.weibo_link }}" target="_blank">阅读原文</a>
                </div>
            </li>
        </ul>
            </td>
            <td style="display:none;">{{ data.doc_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

{% endblock weibo_display %}


{% block footJS %}
<script type="text/javascript">
var Data = {{ Data|safe }};
var alias = Data['alias'];
    $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        })
    $(document).ready( function(){
          $('#mytable1').DataTable();
      });
    $(document).ready( function(){
          $('#mytable').DataTable();
      });
    $(document).ready( function(){
          $('#origin_weibotable').DataTable();
      });
    $(document).ready( function(){
          $('#weibotable').DataTable();
      });

function mark_keyword(){
    var keyword = document.getElementById("title").innerHTML;
    var dom_list = document.getElementsByClassName("weibo_text");
    var dom_list1 = document.getElementsByClassName("source_text");

    var i = 0;
    for(i=0;i<dom_list.length;i++){
        old_html = dom_list[i].innerHTML;
        new_html = old_html.split(keyword).join("<font color='red'><b>"+ keyword +"</b></font>");
        for(j=0;j<alias.length;j++){
            new_html = new_html.split(alias[j]).join("<font color='red'><b>"+ alias[j] +"</b></font>");
        }
        dom_list[i].innerHTML = new_html;
    }
    for(i=0;i<dom_list1.length;i++){
        old_html = dom_list1[i].innerHTML;
        new_html = old_html.split(keyword).join("<font color='red'><b>"+ keyword +"</b></font>");
        for(j=0;j<alias.length;j++){
            new_html = new_html.split(alias[j]).join("<font color='red'><b>"+ alias[j] +"</b></font>");
        }
        dom_list1[i].innerHTML = new_html;
    }
}

function jump(id){
    var title = document.getElementById('current_ful_name').innerHTML
    var myparam = "law&" + title +"&" + id.toString() + "&1"
    myurl = "{% url 'regulation:weibo_display' 'param' %}"
    myurl = myurl.replace("param",myparam)
    window.open(myurl)
}


var keyword = document.getElementById("title").innerHTML;
var dom_list = document.getElementsByClassName("weibo_text");
var dom_list1 = document.getElementsByClassName("source_text");

var i = 0;
for(i=0;i<dom_list.length;i++){
  old_html = dom_list[i].innerHTML;
  new_html = old_html.split(keyword).join("<font color='red'><b>"+ keyword +"</b></font>");
  for(j=0;j<alias.length;j++){
    new_html = new_html.split(alias[j]).join("<font color='red'><b>"+ alias[j] +"</b></font>");
  }
  dom_list[i].innerHTML = new_html;
}
for(i=0;i<dom_list1.length;i++){
  old_html = dom_list1[i].innerHTML;
  new_html = old_html.split(keyword).join("<font color='red'><b>"+ keyword +"</b></font>");
  for(j=0;j<alias.length;j++){
    new_html = new_html.split(alias[j]).join("<font color='red'><b>"+ alias[j] +"</b></font>");
  }
  dom_list1[i].innerHTML = new_html;
}




var chart_dom = document.getElementById("history_chart");
var myChart = echarts.init(chart_dom);
var app = {};
var option = null;

var origin_chart_dom = document.getElementById("history_origin_chart");
var origin_chart = echarts.init(origin_chart_dom);

var rate_chart_dom = document.getElementById("history_rate_chart");
var rate_chart = echarts.init(rate_chart_dom);

var base = +new Date(2019, 0, 0);
var oneDay = 24 * 3600 * 1000;

date=Data['date_list'];
data=Data['total_list'];
origin_data = Data['origin_total_list'];
rate_data = Data['rate_list'];

rate_option = {
    tooltip: {
        trigger: 'axis',
        position: function (pt) {
            return [pt[0], '10%'];
        }
    },
    title: {
        left: 'center',
        text: keyword+'转发/原创',
    },
    toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
            },
            restore: {},
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: date
    },
    yAxis: {
        type: 'value',
        boundaryGap: [0, '100%']
    },
    dataZoom: [{
        type: 'inside',
        start: 0,
        end: 10
    }, {
        start: 0,
        end: 10,
        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
        handleSize: '80%',
        handleStyle: {
            color: '#fff',
            shadowBlur: 3,
            shadowColor: 'rgba(0, 0, 0, 0.6)',
            shadowOffsetX: 2,
            shadowOffsetY: 2
        }
    }],
    series: [
        {
            name:'倍',
            type:'line',
            smooth:true,
            symbol: 'none',
            sampling: 'average',
            itemStyle: {
                color: 'rgb(255, 70, 131)'
            },
            areaStyle: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgb(255, 158, 68)'
                }, {
                    offset: 1,
                    color: 'rgb(255, 70, 131)'
                }])
            },
            data: rate_data
        }
    ]
};;


if (rate_option && typeof rate_option === "object") {
    rate_chart.setOption(rate_option, true);
}




origin_option = {
    tooltip: {
        trigger: 'axis',
        position: function (pt) {
            return [pt[0], '10%'];
        }
    },
    title: {
        left: 'center',
        text: keyword+'历史热度(不含转发)',
    },
    toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
            },
            restore: {},
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: date
    },
    yAxis: {
        type: 'value',
        boundaryGap: [0, '100%']
    },
    dataZoom: [{
        type: 'inside',
        start: 0,
        end: 10
    }, {
        start: 0,
        end: 10,
        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
        handleSize: '80%',
        handleStyle: {
            color: '#fff',
            shadowBlur: 3,
            shadowColor: 'rgba(0, 0, 0, 0.6)',
            shadowOffsetX: 2,
            shadowOffsetY: 2
        }
    }],
    series: [
        {
            name:'讨论次数',
            type:'line',
            smooth:true,
            symbol: 'none',
            sampling: 'average',
            itemStyle: {
                color: 'rgb(255, 70, 131)'
            },
            areaStyle: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgb(255, 158, 68)'
                }, {
                    offset: 1,
                    color: 'rgb(255, 70, 131)'
                }])
            },
            data: origin_data
        }
    ]
};;


if (origin_option && typeof origin_option === "object") {
    origin_chart.setOption(origin_option, true);
}
function origin_renew_weibo(keyword_name, keyword_id,starttime,endtime){
                $.ajax({  
                    type:"POST",  
                    data: {
                        'keyword_name':keyword_name,
                        'keyword_id':keyword_id,
                        'starttime':starttime,
                        'endtime':endtime,
                        'option':"origin",
                    },  
                    url: "{% url 'regulation:dynamic_display' %}", //后台处理函数的url 
                    cache: false,  
                    dataType: "html",  
                    success: function(result){  
                        $("#origin_weibo_display").html(result);
                        console.log(result);
                        $(document).ready( function(){
                            $('#origin_weibotable').DataTable({
                                "paging":true,
                                "retrieve": true,
                            });
                        });
                        mark_keyword();
                    },  
                    error: function(){  
                        // alert("false");  
                    }  
                });  
                return false;  
            }


var tmid;
function origin_get_dynamic(){
    var mydom1 = document.getElementById('title');
    var title = mydom1.innerHTML;
    var mydom = document.getElementById('title_id');
    var title_id = mydom.innerHTML;

    var axis = origin_chart.getModel().option.xAxis[0];
    var starttime = axis.data[axis.rangeStart];
    var endtime = axis.data[axis.rangeEnd];
    console.log(starttime,endtime);
    
    var target =String(title_id)+ "@" + String(starttime)+"&"+String(endtime);
    target = target.replace(new RegExp('/','g'),"-");
    origin_renew_weibo(title, title_id, starttime, endtime);
    tmid=0
}
//图表被点击就动态展示所选中时间段内的微博，按照时间先后
origin_chart.on('datazoom', function (evt) {
    // console.log('into myChart')
    if(tmid != null && tmid != undefined && tmid != 0){
        console.log('old tmid =',tmid)
        clearTimeout(tmid)
    }
    tmid = setTimeout(origin_get_dynamic, 400)
    console.log('this time  = ',tmid)
});

option = {
    tooltip: {
        trigger: 'axis',
        position: function (pt) {
            return [pt[0], '10%'];
        }
    },
    title: {
        left: 'center',
        text: keyword+'历史热度',
    },
    toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
            },
            restore: {},
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: date
    },
    yAxis: {
        type: 'value',
        boundaryGap: [0, '100%']
    },
    dataZoom: [{
        type: 'inside',
        start: 0,
        end: 10
    }, {
        start: 0,
        end: 10,
        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
        handleSize: '80%',
        handleStyle: {
            color: '#fff',
            shadowBlur: 3,
            shadowColor: 'rgba(0, 0, 0, 0.6)',
            shadowOffsetX: 2,
            shadowOffsetY: 2
        }
    }],
    series: [
        {
            name:'讨论次数',
            type:'line',
            smooth:true,
            symbol: 'none',
            sampling: 'average',
            itemStyle: {
                color: 'rgb(255, 70, 131)'
            },
            areaStyle: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgb(255, 158, 68)'
                }, {
                    offset: 1,
                    color: 'rgb(255, 70, 131)'
                }])
            },
            data: data
        }
    ]
};;


if (option && typeof option === "object") {
    myChart.setOption(option, true);
}


function js_renew(){
    $('#weibotable').DataTable();
}
 
function renew_weibo(keyword_name, keyword_id,starttime,endtime){
                $.ajax({  
                    type:"POST",  
                    data: {
                        'keyword_name':keyword_name,
                        'keyword_id':keyword_id,
                        'starttime':starttime,
                        'endtime':endtime,
                        'option':'source',
                    },  
                    url: "{% url 'regulation:dynamic_display' %}", //后台处理函数的url 
                    cache: false,  
                    dataType: "html",  
                    success: function(result){  
                        $("#weibo_display").html(result);
                        console.log(result);
                        $(document).ready( function(){
                            $('#weibotable').DataTable({
                                "paging":true,
                                "retrieve": true,
                            });
                        });
                        mark_keyword();
                    },  
                    error: function(){  
                        // alert("false");  
                    }  
                });  
                return false;  
            }


var TMid;
function get_dynamic(){
    var mydom1 = document.getElementById('title');
    var title = mydom1.innerHTML;
    var mydom = document.getElementById('title_id');
    var title_id = mydom.innerHTML;

    var axis = myChart.getModel().option.xAxis[0];
    var starttime = axis.data[axis.rangeStart];
    var endtime = axis.data[axis.rangeEnd];
    console.log(starttime,endtime);
    
    var target =String(title_id)+ "@" + String(starttime)+"&"+String(endtime);
    target = target.replace(new RegExp('/','g'),"-");
    renew_weibo(title, title_id, starttime, endtime);
    TMid=0
}
//图表被点击就动态展示所选中时间段内的微博，按照时间先后
myChart.on('datazoom', function (evt) {
    // console.log('into myChart')
    if(TMid != null && TMid != undefined && TMid != 0){
        // console.log('old tmid =',TMid)
        clearTimeout(TMid)
    }
    TMid = setTimeout(get_dynamic, 400)
    // console.log('this time  = ',TMid)
});


</script>
{% endblock footJS%}



